div.bar{
  display: inline-block;
  width: 450px;
  height: 450px;
}


text{
font-family: times
}

circle.node:hover{
fill: skyblue;
opacity: .5;
}

rect.rectangle:hover{
fill: black;
opacity: .05;
}
